* {
  margin: 0;
  padding: 0;
}

li{
  font:14px 微软雅黑;
}
a{
  text-decoration: none;
}

li{
  list-style: none;
}

@keyframes move1 {
  0% {
    transform: translate(330px, -1000px)
  }
  20% {
    transform: translate(330px, 0)
  }
  40% {
    transform: translate(330px, -50px)
  }
  60% {
    transform: translate(330px, 0)
  }
  100% {
    transform: translate(0, 0)
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, -1000px)
  }
  20% {
    transform: translate(0, 0)
  }
  40% {
    transform: translate(0, -50px)
  }
  60% {
    transform: translate(0, 0)
  }
  100% {
    transform: translate(0, 0)
  }
}

@keyframes move3 {
  0% {
    transform: translate(-330px, -1000px)
  }
  20% {
    transform: translate(-330px, 0)
  }
  40% {
    transform: translate(-330px, -50px)
  }
  60% {
    transform: translate(-330px, 0)
  }
  100% {
    transform: translate(0, 0)
  }
}

.header{
  width:100%;
  height: 60px;
  background-color: rgba(0,0,0,0.8);
}

.header .headerContent{
  width: 980px;
  height:100%;
  margin:0 auto;
}

.header .headerContent .logo{
  margin: 16px 20px 0 0;
  float: left;

}

.header .headerContent .nav{
  float: right;


}
.header .headerContent .nav ul{
  display: block;

  width: 450px;
}

.header .headerContent nav ul::after {
  content: "";
  display: block;
  clear: both
}

.header .headerContent .nav ul li{
  display: block;
  float: left;
  width: 90px;
  line-height: 60px;
  text-align: center;

}

.header .headerContent .nav ul li.active{
  background: #fc0;
}
.header .headerContent .nav ul li.active a{
  color: #000000;
}

.header .headerContent .nav ul li:hover{
  background: #fc0;
}

.header .headerContent .nav ul li:hover a{
  color: #000000;
}
.header .headerContent .nav ul li a{
  display: block;
  color: #ffffff;
}

.content{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;


}
.content .sideNav{
  position: fixed;
  top:50%;
  right:1%;
  z-index: 3;
}

.content .sideNav li{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid;
  margin-top: 10px;
  cursor: pointer

}
.content .sideNav li:hover {
  background: #000;
  cursor: default
}

.content .sideNav li.active {
  background: #000;
  cursor: default
}



.contentList .firstLi{
  position: relative;
  width: 100%;
  height: 698px;
  background-position: 50% 50% !important;
  background: url(../images/s1.jpg) no-repeat;
  overflow: hidden
}


.content .contentList .firstLi section {
  width: 980px;
  height: 578px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.content .contentList .firstLi section .first {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto
}

.content .contentList .firstLi section .first img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -545px;
  margin-top: -260px;
  transition: .5s opacity
}

.contentList .secondLi{
  position: relative;
  width: 100%;
  height: 606px;
  background-position: 50% 50% !important;
  background: url(../images/s2.jpg) no-repeat;
  overflow: hidden
}

.content .contentList .secondLi section .second {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:0 auto;

}


.content .contentList .secondLi section .second .left {
  position: absolute;
  left: 140px;
  width: 837px;
  height: 437px;
  margin-top: 40px;
  z-index: 1;
}
.content .contentList .secondLi section .second .left .photoList{
  width:100%;
  height:100%;
}

.content .contentList .secondLi section .second .bg {
  position: absolute;
  right: 60px;
  top: 0;
}

.content .contentList .secondLi section .second .left .photoList li {
  float: left;
  margin-right: 20px;
  text-align: center;
  transition: 1s transform;
}

.content .contentList .secondLi section .second .left .photoList li p {
  margin: 20px 0;
  font-size: 18px
}

.content .contentList .secondLi section .second .left .photoList li a {
  display: block;
  margin-left: 80px;
  background: #fc0;
  width: 98px;
  height: 36px;
  background: url(../images/buy.jpg) no-repeat;
  background-position: 50% 50%
}



.content .contentList .secondLi section .second .left .photoList li img:nth-child(1) {
  transform: translateY(0)
}

.content .contentList .secondLi section .second .left .photoList li img:nth-child(2) {
  transform: translateY(0)
}

.content .contentList .secondLi section .second .left .photoList li img:nth-child(3) {
  transform: translateY(0)
}

.content .contentList .secondLi section .second .right {
  position: absolute;
  right: 108px;
  margin-top: 5%;
  padding-right: 15px;
  border-right: 2px solid;
  transition: 1s transform;
}

.content .contentList .secondLi section .second .right h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  text-align: right;
}

.content .contentList .secondLi section .second .right p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  text-align: right;
}
.content .contentList .secondLi section .second .right a {
  color: #333;
  text-align: right;
}

/*
第三部分
*/
.contentList .thirdLi{
  position: relative;
  width: 100%;
  height: 606px;
  background-position: 50% 50% !important;
  background: url(../images/s3.jpg) no-repeat;
  overflow: hidden
}

.content .contentList .thirdLi section .third {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:0 auto;

}


.content .contentList .thirdLi section .third .left {
  position: absolute;
  left: 140px;
  width: 837px;
  height: 437px;
  margin-top: 40px;
  z-index: 1;
}
.content .contentList .thirdLi section .third .left .photoList{
  width:100%;
  height:100%;
}

.content .contentList .thirdLi section .third .bg {
  position: absolute;
  right: 60px;
  top: 0;
}

.content .contentList .thirdLi section .third .left .photoList li {
  float: left;
  margin-right: 20px;
  text-align: center;
  transition: 1s transform;
}

.content .contentList .thirdLi section .third .left .photoList li p {
  margin: 20px 0;
  font-size: 18px
}

.content .contentList .thirdLi section .third .left .photoList li a {
  display: block;
  margin-left: 80px;
  background: #fc0;
  width: 98px;
  height: 36px;
  background: url(../images/buy.jpg) no-repeat;
  background-position: 50% 50%
}



.content .contentList .thirdLi section .third .left .photoList li img:nth-child(1) {
  transform: translateY(0)
}

.content .contentList .thirdLi section .third .left .photoList li img:nth-child(2) {
  transform: translateY(0)
}

.content .contentList .thirdLi section .third .left .photoList li img:nth-child(3) {
  transform: translateY(0)
}

.content .contentList .thirdLi section .third .right {
  position: absolute;
  right: 108px;
  margin-top: 5%;
  padding-right: 15px;
  border-right: 2px solid;
  transition: 1s transform;
}

.content .contentList .thirdLi section .third .right h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  text-align: right;
}

.content .contentList .thirdLi section .third .right p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  text-align: right;
}
.content .contentList .thirdLi section .third .right a {
  color: #333;
  text-align: right;
}

/*第四部分*/
.contentList .fourLi{
  position: relative;
  width: 100%;
  height: 606px;
  background-position: 50% 50% !important;
  background: url(../images/s4.jpg) no-repeat;
  overflow: hidden
}

.content .contentList .fourLi section .four {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:0 auto;

}


.content .contentList .fourLi section .four .left {
  position: absolute;
  left: 140px;
  width: 1000px;
  height: 437px;
  margin-top: 40px;
  z-index: 1;
}
.content .contentList .fourLi section .four .left .photoList{
  width:100%;
  height:100%;
}

.content .contentList .fourLi section .four .bg {
  position: absolute;
  right: 48px;
  top: 153px;
}

.content .contentList .fourLi section .four .left .photoList li {
  float: left;
  margin-right: 20px;
  text-align: center;
  transition: 1s transform;
}

.content .contentList .fourLi section .four .left .photoList li p {
  margin: 20px 0;
  font-size: 18px
}

.content .contentList .fourLi section .four .left .photoList li a {
  display: block;
  margin-left: 80px;
  background: #fc0;
  width: 98px;
  height: 36px;
  background: url(../images/buy.jpg) no-repeat;
  background-position: 50% 50%
}



.content .contentList .fourLi section .four .left .photoList li img:nth-child(1) {
  transform: translateY(0)
}

.content .contentList .fourLi section .four .left .photoList li img:nth-child(2) {
  transform: translateY(0)
}

.content .contentList .fourLi section .four .left .photoList li img:nth-child(3) {
  transform: translateY(0)
}

.content .contentList .fourLi section .four .right {
  position: absolute;
  right: 108px;
  margin-top: 5%;
  padding-right: 15px;
  border-right: 2px solid;
  transition: 1s transform;
}

.content .contentList .fourLi section .four .right h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  text-align: right;
}

.content .contentList .fourLi section .four .right p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  text-align: right;
}
.content .contentList .fourLi section .four .right a {
  color: #333;
  text-align: right;
}

/*第五部分*/

.contentList .fiveLi{
  position: relative;
  width: 100%;
  height: 606px;
  background-position: 50% 50% !important;
  background: url(../images/s5.jpg) no-repeat;
  overflow: hidden
}

.content .contentList .fiveLi section .five{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:0 auto;

}


.content .contentList .fiveLi section .five .left {
  position: absolute;
  left: 140px;
  width: 1000px;
  height: 437px;
  margin-top: 40px;
  z-index: 1;
}
.content .contentList .fiveLi section .five .left .photoList{
  width:100%;
  height:100%;
}

.content .contentList .fiveLi section .five .bg {
  position: absolute;
  right: 48px;
  top: 153px;
}

.content .contentList .fiveLi section .five .left .photoList li {
  float: left;
  margin-right: 20px;
  text-align: center;
  transition: 1s transform;
}

.content .contentList .fiveLi section .five .left .photoList li p {
  margin: 20px 0;
  font-size: 18px
}

.content .contentList .fiveLi section .five .left .photoList li a {
  display: block;
  margin-left: 80px;
  background: #fc0;
  width: 98px;
  height: 36px;
  background: url(../images/buy.jpg) no-repeat;
  background-position: 50% 50%
}



.content .contentList .fiveLi section .five .left .photoList li img:nth-child(1) {
  transform: translateY(0)
}

.content .contentList .fiveLi section .five .left .photoList li img:nth-child(2) {
  transform: translateY(0)
}

.content .contentList .fiveLi section .five .left .photoList li img:nth-child(3) {
  transform: translateY(0)
}

.content .contentList .fiveLi section .five .right {
  position: absolute;
  right: 108px;
  margin-top: 5%;
  padding-right: 15px;
  border-right: 2px solid;
  transition: 1s transform;
}

.content .contentList .fiveLi section .five .right h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  text-align: right;
}

.content .contentList .fiveLi section .five .right p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  text-align: right;
}
.content .contentList .fiveLi section .five .right a {
  color: #333;
  text-align: right;
}
